extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/message" method="post")
    input(type="text" name="message")

  form#socket
    input(type="text" id="message")

  script.
    document.addEventListener('DOMContentLoaded', function () {
      var form = document.querySelector('form#socket')
      form.addEventListener('submit', function (e) {
        e.preventDefault()
        socket.emit('message', document.querySelector("#message").value);
      })
    })
