doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();
      socket.on('message', function () {
        console.log(arguments);
      })
  body
    block content
