<h1>Show: {{show}}</h1>

<form method="post" action="/addMessage" >
    <input type='text' class='form-control' placeholder="Name" ng-model="form.user" name="user">
    <input type='text' class='form-control' placeholder='Say Something' ng-model='form.message' name="message">
    <input type='hidden' value='{{show}}' name='room'>
    <br>

    <p>
      <button class="btn btn-primary" ng-click="sendMessage()">io.sockets.in("{{show}}").emit()</button>
    </p>

    <p>
      <button class="btn btn-primary" ng-click="broadcastRoom()">socket.broadcast.to("{{show}}").emit()</button>
    </p>

    <div ng-repeat="message in messages track by $index">
      {{message}}
    </div>
</form>

<div class="well">
    <h1>Database Messages</h1>
    <div ng-repeat="story in stories">
    <ul>

      <li>User:{{story.user}} Message:{{story.message}} Room:{{story.room}} </li>
    </ul>
    </div>
</div>
